.parent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px dotted black;
  background-color: rgba(255, 192, 203, 0.5);
  display: flex;
  justify-content: space-evenly;
}
li {
  border: 2px solid brown;
  margin: 0.5em;
  padding: 0.5em;
}
.link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.pageonecontainerOne {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}

.pageonecontainerTwo {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  margin-bottom: 1rem;
}

.pageonecontainerThree {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pageonecontainerFour {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1em;
}
.pageoneParent li {
  padding: 1em;
  background-color: white;
}
.pagetwocontainerFive {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  height: 500px;
  align-items: center;
  align-content: space-between;
}
.pagetwocontainerFour {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  height: 500px;
  align-items: center;
  align-content: space-around;
}
.pagetwocontainerThree {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  align-items: flex-end;
  align-content: flex-end;
}
.pagetwocontainerTwo {
  background-color: skyblue;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
  align-content: center;
}
.pagetwocontainerOne {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  align-items: start;
  justify-content: start;
  align-content: flex-start;
  /* align-content is the property which get enables when we use flex-wrap with wrap; */
}
.pageTwoParent li {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.pageThreeParent {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  display: flex;
}
.pageTwoChildren {
  background-color: white;
  color: blue;
  font-size: 30px;
  padding: 2em;
}
