.parent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px dotted black;
  background-color: rgba(255, 192, 203, 0.5);
  display: flex;
  justify-content: space-evenly;
}
li {
  border: 2px solid brown;
  margin: 0.5em;
  padding: 0.5em;
}
.link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.pageonecontainerOne {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}

.pageonecontainerTwo {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  margin-bottom: 1rem;
}

.pageonecontainerThree {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pageonecontainerFour {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1em;
}
.pageoneParent li {
  padding: 1em;
  background-color: white;
}
.pagetwocontainerFive {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  height: 500px;
  align-items: center;
  align-content: space-between;
  gap: 3rem;
}
.pagetwocontainerFour {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  height: 500px;
  align-items: center;
  align-content: space-around;
  gap: 3rem;
}
.pagetwocontainerThree {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  align-items: flex-end;
  align-content: flex-end;
  gap: 3rem;
}
.pagetwocontainerTwo {
  background-color: skyblue;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
  align-content: center;
  gap: 3rem;
}
.pagetwocontainerOne {
  background-color: skyblue;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  align-items: start;
  justify-content: start;
  align-content: flex-start;
  /* align-content is the property which get enables when we use flex-wrap with wrap; */
  gap: 3rem;
  /* to provide the gap in b/w the elements, accessible because of align-content  */
}
.pageTwoParent li {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.pageThreeParent {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  display: flex;
}
.pageTwoChildren {
  background-color: white;
  color: blue;
  font-size: 30px;
  padding: 2em;
}
.pageFourParent {
  background-color: palevioletred;
  color: black;
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 700px;
  display: flex;
  align-items: flex-start;
  /* if we don't use align-items and our parent have some height, and there is empty space, then children element will expand themself to cover they remaining space. */
}
.pageFourParent li {
  color: white;
  border: 2px solid red;
}
.item2 {
  flex-grow: 1;
  /* this allow element to grow if there's enough space and the remaining space divided in b/w other elements equally  */
  align-self: center;
  /* to change the position of element */
}
.item3 {
  order: -1;
  /* now item once comes before every element */
}
